.header {
    height: 100dvh;
    background-color: #EEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: 2.5rem;
    width: 100dvw;
    max-width: 1920px;
}


@media (max-width:600px) {
    .header {
        font-size: 2rem;
    }

}